
.homepage_container{
    height: calc(100vh - 55px);
    background-color: #131d28;
}

@media screen and (min-width:480px){
.task_area{
    box-sizing: border-box;
    border:solid white 1px;
    width: calc(100vw - 28vw);
    float: right;
    margin-top: 46px;
    margin-bottom: 5px;
    height: calc(100vh - 110px);
    margin-right: 5px;
    border-radius: 8px;
    padding:5px;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;

}
.add_task_area{
    border-radius: 5px;
    box-sizing: border-box;
    width: 34vw;
    box-shadow: 0 0 3px 0.5px white ;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.taskCard{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    padding:2px;
    display:flex;
    align-items: center;
    flex-direction: column;
}
.addtask_btn{
    background-color: rgb(112, 112, 220);
    border:none;
    border-radius: 4px;
    padding: 3px;
    color: white;
}
dialog{
    border-radius: 5px;
    border:none;
    box-shadow: 0 0 5px 0;
    width: 45%;
}
.emptytask_text{
    margin-top: 30px;
    text-align: center;
}
.emptytask_text>h1,h2{
    color: rgb(232, 219, 219);
}
}
@media screen and (max-width:480px) {
    .task_area{
        box-sizing: border-box;
        border:solid black 1px;
        margin: 3px;
        height: calc(100vh - 110px);
        border-radius: 8px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .add_task_area{
        border-radius: 5px;
        box-sizing: border-box;
        width: 47vw;
        box-shadow: 0 0 3px 0px ;
        padding:5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .taskCard{
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        width: 100%;
        padding:2px;
        display:flex;
        align-items: center;
        flex-direction: column;
    }
}


